<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ApartmentManagementContext"
			 connectionString="Server=YUSUFYILDIZ;Database=ApartmenManagementDb;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
